# .gitignore
.DS_Store
Thumbs.db
*.log

# Node modules
node_modules/

# Build output
/dist/

# Packaged applications
release-builds/

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
package-lock.json
yarn.lock

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?