@font-face {
  font-family: 'Noto Sans';
  src: url('../../asset/fonts/NotoSans-VariableFont_wdth.ttf');
}
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: center;
}
.logo {
  width: 100px;
  height: 100px;
  margin-top: 2%;
}
.inline-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  column-gap: 10px;
}
.counter {
  font-size: 42px;
  font-weight: 600;
  margin: 20px 0;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #db5b47;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #d13f2d;
    transform: translateY(2px);
  }

  &.blue {
    background-color: #4b6076;

    &:hover {
      background-color: #0056b3;
    }
  }
}

input {
  padding: 10px;
  border: 1px solid #dd9a1d;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
  max-width: 500px;
  transition: all 0.3s ease-in-out;
  &:focus {
    border-color: #db5b47;
  }
  &::placeholder {
    font-size: 15px;
  }
}

label {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.settings {
  margin: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
  &::after {
    content: 'Settings';
    text-align: end;
    padding-right: 16px;
    text-decoration: underline;
  }
  & > .time-set {
    overflow: hidden;
  }
  &:hover {
    grid-template-rows: 1fr;
    cursor: pointer;
  }
}
